<h1> Aqui deberia mostar todos los estudiantes</h1>

<div class="table-responsive" id="no-more-tables">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Rut</th>
                <th>Número</th>
                <th>Correo</th>
            </tr>
        </thead>
        {{#each lista}}
        <tbody>
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.nombrea}}</td>
                <td>{{this.edada}}</td>
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</div>
