<h1>Hola mundo!!!</h1>
<h1> Aqui deberia mostrar todos las consultas</h1>

<a href="/consultas/profesores-multiples-carreras">1. ¿Cuántos profesores imparten ramos en múltiples carreras?</a><br>
<a href="/consultas/inscritos-cierto-ramo">2. ¿Cuánta gente se inscribió en cierto ramo?</a><br>
<a href="/consultas/inscritos-seccion-ramo">3. ¿Cuánta gente se inscribió en alguna sección de algún ramo?</a><br>
<a href="/consultas/salas-por-edificio">4. ¿Cuántas salas hay en un edificio?</a><br>
<a href="/consultas/primer-anio-carrera">5. ¿Cuántos estudiantes de una carrera en específico hay inscritos como primer año?</a><br>
<a href="/consultas/carreras-comparten-ramo">6. ¿Cuántas carreras comparten un ramo entre ellas?</a><br>
<a href="/consultas/edad-promedio-carrera">7. ¿Cuál es la edad promedio de los estudiantes de cierta carrera?</a><br>
<a href="/consultas/profesores-carrera-especifica">8. ¿Cuántos profesores imparten ramos de una carrera en específico?</a><br>
<a href="/consultas/empleados-por-edificio">9. ¿Cuántos empleados hay asignados a cada edificio?</a><br>
<a href="/consultas/recursos-por-carrera">10. ¿Cuántos recursos de estudio han sido prestados exclusivamente a una carrera específica?</a><br>
<a href="/consultas/carreras-mayor-empleados">11. ¿Qué carreras tienen la mayor cantidad de empleados administrativos?</a><br>
<a href="/consultas/estudiantes-recurso">12. ¿Cuántos estudiantes han pedido un cierto recurso?</a><br>
<a href="/consultas/estudiantes-carrera">13. ¿Cuántos estudiantes hay matriculados en cierta carrera?</a><br>
<a href="/consultas/empleados-administrativos-carrera">14. ¿Cuántos empleados administrativos tiene cada carrera?</a><br>
<a href="/consultas/estudiantes-reprobaron-ramo">15. ¿Cuántos estudiantes reprobaron cierto ramo?</a>